.recipe-container {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: lightblue;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
}

@media (max-width: 768px) {
    .recipe-container {
        width: 90%;
        margin-top: 30px;
    }
}